$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-dark-opacity: #28b485c0;

$color-primary-light: #7ed56f;
$color-primary-light-opacity: #7ed56fc0;

$color-white: #fff;
$color-text: #777777;
$color-black: #000;
$color-dark-white: #eee;

$color-light-gray: #eae9e9;
$color-dark-gray: #999;
$color-dark: #333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:#2098ff;
$color-tertiary-dark:#5643fa;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;