.composition{
    position: relative;
    
    &__photo{
        width: 60%;
        box-shadow: 0 1.6rem 10rem rgba($color-black, .4);
        border-radius: .5rem;
        position: absolute;
        transition: all .3s;
        outline-offset: 1rem;
        
        

        &--p1{
            left: 0;
            top: -2rem;
        }

        &--p2{
            right: 0;
            top: 2rem;
        }

        &--p3{
            left: 20%;
            top: 10rem;
        }

    &:hover{
        transform: scale(1.10);
        box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
        z-index: 20;
        outline: 1.3rem solid $color-primary;
    }    
    }

    &:hover &__photo:not(:hover){
        transform: scale(.88);
        filter: blur(3px) brightness(80%);
    }

}