.story1 {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
    font-size: 1.7rem;
    margin-bottom: 6rem;

    @include respond(tab-port){
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone){
        transform: skewX(0);
    }


    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;

        @include respond(phone){
            transform: translateX(-3rem) skewX(0deg);
        }
    }

    &__text {
        transform: skewX(12deg);
        
        @include respond(phone) {
            transform: skewX(0deg);
        }
    }

    &__img {
        height: 100%;
        transition: all .3s;
        transform: translateX(-4rem) scale(1.4);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $color-white;
        transform: translate(-50%, 20%);
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .4s;
        // backface-visibility: hidden;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;

    }

    &:hover &__img {

        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);

    }

}

.story2 {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color:rgba($color-white,0.6);
    border-radius: 3px;
    padding: 7rem;
    transform: skewX(-12deg);
    font-size: 1.6rem;
    margin-bottom: 5rem;

        @include respond(tab-port) {
            width: 100%;
            padding: 4rem;
            padding-left: 7rem;
        }

        @include respond(phone) {
            transform: skewX(0);
        }



    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(45% at 50% 50%);
        shape-outside: circle(45% at 50% 50%);
        -webkit-clip-path: circle(51% at 52% 47%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__text {
        transform: skewX(12deg);
        
        @include respond(phone) {
            transform: skewX(0deg);
        }
    }

    &__img {
        height: 100%;
        transition: all .3s;
        transform: translateX(-3.5rem) scale(1.4);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $color-white;
        transform: translate(-50%, 20%);
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .4s;
        // backface-visibility: hidden;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;

    }

    &:hover &__img {

        filter: blur(3px) brightness(80%);
        transform: translateX(-3.5rem) scale(1);

    }

}